<section>
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h2>Das Picture Haus</h2>
      </div>
    </div>
  </div>
      
  <div class="row">
    <div class="photo span12">
      <%= image_tag "dance_hall.jpg" %>
    </div> 
    
    <div class="photo span12">
      <%= image_tag "robot_lev.jpg" %>
    </div>
    
    <div class="photo span12">
      <%= image_tag "das_boot.jpg" %>
    </div>
    
    <div class="photo span12">
      <%= image_tag "jack_bass_3.jpg" %>
    </div>
    
    <div class="photo span12">
      <%= image_tag "lee_on_guitar.jpg" %>
    </div>
    
    <div class="photo span12">
      <%= image_tag "lev_jack_couch.jpg" %>
    </div>
    
    <div class="photo span12">
      <%= image_tag "blurry_jack.jpg" %>
    </div>
    
    <div class="photo span12">
      <%= image_tag "drum_mics.jpg" %>
    </div>
    
    <div class="photo span12">
      <%= image_tag "der_party_pose.jpg" %>
    </div>  
    
    <div class="photo span12">
      <%= image_tag "lee_and_jack.jpg" %>
    </div>
    
    <div class="photo span12">
      <%= image_tag "cartoon_lyrics.jpg" %>
    </div>
    
    <div class="photo span12">
      <%= image_tag "guitar_balloons.jpg" %>
    </div>
    
    <div class="photo span12">
      <%= image_tag "jack_bass_1.jpg" %>
    </div>
    
    <div class="photo span12">
      <%= image_tag "balloon_session.jpg" %>
    </div>
    
    <div class="photo span12">
      <%= image_tag "jack_bass_2.jpg" %>
    </div>    
    
    <div class="photo span12">
      <%= image_tag "timo.jpg" %>
    </div>    
    
    <div class="photo span12">
      <%= image_tag "clenched_fists.jpg" %>
    </div>
    
    <div class="photo span12">
      <%= image_tag "der_party_poster.jpg" %>
    </div>
  </div>    
</section>