<%= render :partial => "hero" %>

<div class="container">  
  
  <%= render :partial => "characters" %>
  
  <%= render :partial => "photos" %>
  
  <%= render :partial => "lyrics" %>
  
  <%= render :partial => "dead_songs" %>
  
</div>