<%= render :partial => "hero" %>

<div class="container">  
  
  <%= render :partial => "der_party" %> 
  
  <%= render :partial => "video" %>  
   
  <%= render :partial => "credits" %>  
  
  <%= render :partial => "lyrics" %>
  
  <%= render :partial => "dead_songs" %>
  
  <%= render :partial => "photos" %>
  
  <%= render :partial => "player" %>
  
</div>