<!DOCTYPE html>
<html>
<head>
  <title>:::&euro;&euro;&euro;&euro;::: Willk&ouml;mmen to Der Party :::&euro;&euro;&euro;&euro;:::</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  
<div class="container">  
  <hr>
  <footer class="footer">
    <p>All Songs by Der Party :::&euro;&euro;&euro;&euro; &copy; <%= Date.today.year %> &euro;&euro;&euro;&euro;:::</p>
    <p><a href="http://countryclubsandwiches.com/">The Country Club Sandwiches</a></p>
  </footer>
</div>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30570216-1']);
  _gaq.push(['_setDomainName', 'derparty.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>